<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<ul class="social">
					<li class="social-list">
						<a href="https://www.facebook.com/timoshenko.kostya" class="social-list__link" target="_blank"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="social-list">
						<a href="https://twitter.com/_uncle_jo" class="social-list__link" target="_blank"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="social-list">
						<a href="https://plus.google.com/112754252502455510726" class="social-list__link" target="_blank"><i class="fab fa-google-plus-g"></i></a>
					</li>
					<li class="social-list">
						<a href="https://www.linkedin.com/in/kostya-timoshenko-804a66166/" class="social-list__link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
					</li>
					<li class="social-list">
						<a href="https://www.instagram.com/_uncle_jo/" class="social-list__link" target="_blank"><i class="fab fa-instagram"></i></a>
					</li>
					<li class="social-list">
						<a href="skype:kostya_2842_1?chat" class="social-list__link" target="_blank"><i class="fab fa-skype"></i></a>
					</li>
				</ul>

				<ul class="copyright">
					<li class="copyright-list">
						<p class="copyright-list__text">&copy; Copyright 2018 Timoshenko Kostya</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
