<section class="contact">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

				<form action="" class="contact-form" method="post" id="contactForm" name="contactForm">
					<div class="form-group">
						<label class="form-group__label" for="contactName">
							Name <span class="form-group__span">*</span>
						</label>
						<input type="text" class="form-control" id="contactName" name="contactName" aria-describedby="emailHelp">						
					</div>
					<div class="form-group">
						<label class="form-group__label" for="contactEmail">
							Email <span class="form-group__span">*</span>
						</label>
						<input type="email" class="form-control" id="contactEmail" name="contactEmail" aria-describedby="emailHelp">						
					</div>
					<div class="form-group">
						<label class="form-group__label" for="contactSubject">Subject</label>
						<input type="text" class="form-control" id="contactSubject" name="contactSubject" aria-describedby="emailHelp">						
					</div>
					<div class="form-group">
						<label class="form-group__label" for="contactMessage" style="margin-right: 52px;">
							Message <span class="form-group__span">*</span>
						</label>
						<textarea class="form-control textarea-fix" id="contactMessage" name="contactMessage" cols="40" rows="15"></textarea>					
					</div>

					<button type="submit" class="btn" name="submit">Submit</button>
				</form>

				<div class="not_work">
					<div class="not_work-block">
						<h5 class="not_work-block__title">does not work</h5>
					</div>
				</div>

			</div>

			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
				<div class="widgets">
					<div class="widgets-contacts">
						<h4 class="widgets-contacts__title">Address and Phone</h4>
						<span class="widgets-contacts__span">Timoshenko Kostya</span>
						<span class="widgets-contacts__span">Kropyvnytskyi, 25000</span>
						<!-- <span class="widgets-contacts__span">Metallurgov street 27/40</span> -->
						<!-- <span class="widgets-contacts__span">+380(50)322-78-10</span> -->
						<span class="widgets-contacts__span">it.kostya.tim@gmail.com</span>
					</div>

					<div class="widgets-tweets">
						<h4 class="widgets-tweets__title">Latest Tweets</h4>
						<ul class="tw">
							<li class="tw-list">
								<p class="tw-list__item">
									I study animation in Angular 6
									<a href="https://twitter.com/_uncle_jo/status/1013722942713335808" class="tw__link" target="_blank">Link to tweet</a>
									<br>
									<span class="tw__span">2 Days Ago</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>