<!-- navigation block -->
<nav class="header-nav " id="nav-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<button class="adapt__btn accordion"><i class="fas fa-bars"></i></button>
				<ul id="nav2" class="navbar nav adapt-nav panel">
					<li class="nav-item adapt-nav__border current">
						<a routerLink="" class="smoothscroll">Home & About</a>
					</li>
					<li class="nav-item adapt-nav__border">
						<a routerLink="resume" class="smoothscroll">Resume</a>
					</li>
					<li class="nav-item adapt-nav__border">
						<a routerLink="works" class="smoothscroll">Works & Testimonials</a>
					</li>
					<li class="nav-item adapt-nav__border">
						<a routerLink="contact" class="smoothscroll">Contact</a>
					</li>
				</ul>

				<ul id="nav" class="navbar nav def-nav justify-content-center">
					<li class="nav-item current">
						<a routerLink="" class="smoothscroll">Home & About</a>
					</li>
					<li class="nav-item">
						<a routerLink="resume" class="smoothscroll">Resume</a>
					</li>
					<li class="nav-item">
						<a routerLink="works" class="smoothscroll">Works & Testimonials</a>
					</li>
					<li class="nav-item">
						<a routerLink="contact" class="smoothscroll">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>