<!-- Resume -->
<section class="resume" id="resume">
	<div class="container">
		<div class="education">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
					<div class="education-headline">
						<h3 class="education-headline__title">Education</h3>						
					</div>
				</div>

				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
					<div class="education-description">
						<h2 class="education-description__title">University</h2>
						<p class="education-description__subtitle">
							<em class="text">Maintenance of computer systems and networks</em>
							<span class="dot"><i class="fas fa-circle"></i></span>
							<span class="date">September 2017</span>
						</p>
						<p class="education-description__text">At the Central Ukrainian National Technical University, I continue to study programming and web development.</p>
					</div>

					<div class="education-description">
						<h2 class="education-description__title">College</h2>
						<p class="education-description__subtitle">
							<em class="text">Maintenance of computer systems and networks</em>
							<span class="dot"><i class="fas fa-circle"></i></span>
							<span class="date">September 2013</span>
						</p>
						<p class="education-description__text">I got my first education at the Engineering College. I studied the maintenance of computer systems and networks. It was then that I realized that Web development attracted me more than repairing computers. During the training, I studied the basics of programming C++ and Java.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="work">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
					<div class="work-headline">
						<h3 class="work-headline__title">Work</h3>						
					</div>
				</div>

				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
					<div class="work-description">
						<h2 class="work-description__title">A2-Lab</h2>
						<p class="work-description__subtitle">
							<em class="text">Junior Front-End Dev</em>
							<span class="dot"><i class="fas fa-circle"></i></span>
							<span class="date">January 2018 - Present</span>
						</p>
						<p class="work-description__text">Now I work as a developer of Front End in A2-Lab, where I continue to study new technologies, as well as learn from experienced web developers.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="skills">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
					<div class="skills-headline">
						<h3 class="skills-headline__title">Skills</h3>						
					</div>
				</div>

				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
					<div class="skills-description">
						<p class="skills-description__text">Here are my basic skills.</p>
					</div>

					<ul class="bars">
						<li class="bars-list">
							<span class="bars-list__span">Photoshop</span>
							<span class="bars-list__item photo">60%</span>
						</li>
						<li class="bars-list">
							<span class="bars-list__span">CSS</span>
							<span class="bars-list__item css">85%</span>
						</li>
						<li class="bars-list">
							<span class="bars-list__span">Less</span>
							<span class="bars-list__item less">75%</span>
						</li>
						<li class="bars-list">
							<span class="bars-list__span">HTML 5</span>
							<span class="bars-list__item html">80%</span>
						</li>
						<li class="bars-list">
							<span class="bars-list__span">JavaScript</span>
							<span class="bars-list__item js">55%</span>
						</li>
						<li class="bars-list">
							<span class="bars-list__span">jQuery</span>
							<span class="bars-list__item jq">50%</span>
						</li>
						<li class="bars-list">
							<span class="bars-list__span">Angular 6</span>
							<span class="bars-list__item ng">60%</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
