<!-- Header -->
<header class="header" id="home" parallax [config]="{initialValue: -1, ratio: .7}">		
	<div class="header-banner">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h1 class="header-banner__headline">I'm Timoshenko Kostya.</h1>
					<h3 class="header-banner__title">I am the Web Front End developer. I do landings, sites under the order and make edits to the finished projects. I work with HTML5, CSS3, Less, Bootstrap, jQuery. Let's start scrolling and learn more about me.</h3>
					<hr class="seporation">
					<ul class="social">
						<li class="social-list">
							<a href="https://www.facebook.com/timoshenko.kostya" class="social-list__link" target="_blank"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="social-list">
							<a href="https://twitter.com/_uncle_jo" class="social-list__link" target="_blank"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="social-list">
							<a href="https://plus.google.com/112754252502455510726" class="social-list__link" target="_blank"><i class="fab fa-google-plus-g"></i></a>
						</li>
						<li class="social-list">
							<a href="https://www.linkedin.com/in/kostya-timoshenko-804a66166/" class="social-list__link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
						</li>
						<li class="social-list">
							<a href="https://www.instagram.com/_uncle_jo/" class="social-list__link" target="_blank"><i class="fab fa-instagram"></i></a>
						</li>
						<li class="social-list">
							<a href="skype:kostya_2842_1?chat" class="social-list__link" target="_blank"><i class="fab fa-skype"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="header-scrolldown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<a href="#about" class="header-scrolldown__link"><i class="fas fa-angle-down"></i></a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- About -->
<section class="about" id="about">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
				<div class="about-photo">
					<!-- <img src="../resource/image/profilepic.jpg" alt="myphoto" class="about-photo__image"> -->
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
				<div class="about-info_about_me">
					<h4 class="about-info_about_me__title">About Me</h4>
					<p class="about-info_about_me__text">My name is Kostya, and I'm a young and promising developer of Front End. My characteristic qualities are kindness, reliability, simplicity of training, responsiveness and good teamwork! First of all for myself, I think that Front End is a hobby, and after work.</p>
					<div class="details">
						<div class="details-contact">
							<h4 class="details-contact__title">Contact Details</h4>
							<span class="details-contact__span">Timoshenko Kostya</span>
							<span class="details-contact__span">Kropyvnytskyi, 25000</span>
							<!-- <span class="details-contact__span">Metallurgov street 27/40</span> -->
							<!-- <span class="details-contact__span">+380(50)322-78-10</span> -->
							<span class="details-contact__span">it.kostya.tim@gmail.com</span>
						</div>
						<div class="details-download">
							<a href="../../assets/doc/res.docx" class="details-download__link"><i class="fas fa-download"></i>Download Resume</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>