<section class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<h4 class="portfolio__title">CHECK OUT SOME OF MY WORKS.</h4>
				<!-- <mat-tab-group>
					<mat-tab label="Show all">
						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>

					<mat-tab label="Web development">
						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>

					<mat-tab label="Web design">
						<div class="posts-post webdesign">
							<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
							<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="posts-post webdew">
							<img src="../../assets/img/dev1.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img src="../../assets/img/dev1.jpg" class="modal__img" alt="modal1">
											<p class="modal__text">text</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group> -->

				<div class="portfolio-toggles">
					<button class="portfolio-toggles__button" id="showall">Show all</button>
					<button class="portfolio-toggles__button" id="webdew">Web development</button>
					<button class="portfolio-toggles__button" id="webdesign">Changes to site elements</button>
				</div>

				<div class="portfolio-posts">
					<div class="posts-post webdew">
						<img src="../../assets/img/Group_small.png" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter">
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="../../assets/img/Group.png" class="modal__img" alt="modal1">
										<p class="modal__text"></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="posts-post webdew">
						<img src="../../assets/img/Home_small.png" alt="2" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
						<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="../../assets/img/Home.png" class="modal__img" alt="modal2">
										<p class="modal__text"></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="posts-post webdew">
						<img src="../../assets/img/main_small.png" alt="3" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter3">
						<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="../../assets/img/main.png" class="modal__img" alt="modal3">
										<p class="modal__text"></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="posts-post webdew">
						<img src="../../assets/img/АЮРВЕДАBEST_small.png" alt="4" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter4">
						<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="../../assets/img/АЮРВЕДАBEST.png" class="modal__img" alt="modal4">
										<p class="modal__text"></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="posts-post webdesign">
						<img src="../../assets/img/dev2.jpg" alt="1" class="posts-post__image" data-toggle="modal" data-target="#exampleModalCenter2">
						<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="../../assets/img/dev2.jpg" class="modal__img" alt="modal1">
										<p class="modal__text">text</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>

<section parallax [config]="{initialValue: -25, ratio: .7}" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-xl-2 col-lg-2 col-md-2 col-sm-0">
				<h1 class="testimonials__title"><i class="fas fa-quote-left"></i></h1>
			</div>

			<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
				<!-- Angular Bootstrap Slider -->
				<carousel>
					<slide>
						<div class="text-center py-5 bg-dark text-white">
							<div class="lead">
								<em class="lead-text">Qualitatively performed work. The project was delivered on schedule. The developer is responsible and fulfills all requirements.</em>
								<p class="lead-from">Vladislav</p>
							</div>
						</div>
					</slide>
					<slide>
						<div class="text-center py-5 bg-dark text-white">
							<div class="lead">
								<em class="lead-text">Everything is done perfectly, quickly, in time and with quality, no problem. I will be glad to continue cooperating with you. I recommend!</em>
								<p class="lead-from">Darya</p>
							</div>
						</div>
					</slide>
				</carousel>
			</div>
		</div>
	</div>
</section>
